# ignore timestamps
/stamp/*

# ignore build directories
/linux-headers-*/
/linux-source-*/
/linux-image-*/
/linux-doc-*/
/linux-manual-*/

# templates
templates.in
templates.l10n
templates.master

# local configuration
/ruleset/misc/.kernel-pkg.conf

# other things
control.dist
substvars
files
